---
import Layout from '../layouts/Layout.astro'
import Header from '@/sections/Header.astro'
import SectionContainer from '@/sections/SectionContainer.astro'
import Hero from '@/sections/Hero.astro'
import Teams from '@/sections/Teams.astro'
import data from '@/data/f1-info.json'
import Drivers from '@/sections/Drivers.astro'
---

<Layout>
  <Header
    firstAnchorRef='#calendar'
    secondAnchorRef='#teams'
    thirdAnchorRef='#drivers'
    fourAnchorRef='#results'
  />
  <main class='max-w-6xl px-2 lg:px-10 mx-auto mt-14 md:mt-0'>
    <SectionContainer
      class='flex items-center justify-center py-20 h-screen animate-fade-in-up'
    >
      <Hero />
    </SectionContainer>
    <SectionContainer id='teams' class='flex items-center justify-center pb-20'>
      <Teams data={data.teams} />
    </SectionContainer>
    <SectionContainer
      id='drivers'
      class='flex items-center justify-center pb-20'
    >
      <Drivers data={data.teams} />
    </SectionContainer>
  </main>
</Layout>
